.text-right {
  text-align: right;
}

.total {
  margin-top: 15px;
}

.kraken-logo {
  background-image: url('/assets/kraken-logo.png');
}


.refresh-balances-button {
  position: relative;
  right: 10px;
  margin-left: auto;
}

.mat-list[dense] .mat-list-item {
  height: 25px;
}
