<div class="grid-container">
  <mat-grid-list cols="12" rowHeight="215px">

    <!-- Card 1 : my wallet-->
    <mat-grid-tile colspan="4" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Mon wallet
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <app-wallet></app-wallet>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Card 2 : suggestions IA-->
    <mat-grid-tile colspan="4" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Suggestions IA
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Card 3 : Ordres-->
    <mat-grid-tile colspan="4" rowspan="1">
     <mat-card class="dashboard-card">
       <mat-card-header>
         <mat-card-title>
           Ordres
           <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
             <mat-icon>more_vert</mat-icon>
           </button>
           <mat-menu #menu="matMenu" xPosition="before">
             <button mat-menu-item>Expand</button>
             <button mat-menu-item>Remove</button>
           </mat-menu>
         </mat-card-title>
       </mat-card-header>
       <mat-card-content class="dashboard-card-content">
           <div>Card Content Here</div>
       </mat-card-content>
     </mat-card>
   </mat-grid-tile>

  <!-- Card 4 : Compte Kraken -->
  <mat-grid-tile colspan="4" rowspan="3">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Mon compte Kraken
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  
  <!-- Card 5 : Données du marché -->
  <mat-grid-tile colspan="8" rowspan="3">
      <mat-card class="dashboard-card">
        <app-graph-mat-card></app-graph-mat-card>
    </mat-card>
  </mat-grid-tile>

  </mat-grid-list>
</div>
