<div class="grid-container">
  <mat-grid-list cols="12" rowHeight="215px">

    <!-- Card 1 : my wallet-->
    <mat-grid-tile colspan="4" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Mon wallet
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <app-wallet></app-wallet>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Card 2 : compte Kraken-->
    <mat-grid-tile colspan="4" rowspan="1">
      <mat-card class="dashboard-card">
        <!-- <mat-card-header>
          <mat-card-title>
            Mon compte Kraken
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
           <app-kraken-account></app-kraken-account>
        </mat-card-content> -->
        <app-kraken-account></app-kraken-account>
      </mat-card>

    </mat-grid-tile>

    <!-- Card 3 : Ordres-->
    <mat-grid-tile colspan="4" rowspan="1">
     <mat-card class="dashboard-card">
       <mat-card-header>
         <mat-card-title>
           Ordres
         </mat-card-title>
       </mat-card-header>
       <mat-card-content class="dashboard-card-content">
           <div>Card Content Here</div>
       </mat-card-content>
     </mat-card>
   </mat-grid-tile>
  </mat-grid-list>


  <!-- Card 4 : partie basse : IA et Graphiques -->
  <app-graph-mat-card></app-graph-mat-card>

</div>
