<div class="grid-container">
  <mat-grid-list cols="12" rowHeight="215px">

    <!-- Card 1 : my wallet-->
    <mat-grid-tile colspan="3" rowspan="1">
      <mat-card class="dashboard-card">
        <app-wallet></app-wallet>
      </mat-card>
    </mat-grid-tile>

    <!-- Card 2 : compte Kraken-->
    <mat-grid-tile colspan="3" rowspan="1">
      <mat-card class="dashboard-card">
          <app-kraken-account></app-kraken-account>
      </mat-card>
    </mat-grid-tile>

    <!-- Card 3 : Ordres-->
    <mat-grid-tile colspan="6" rowspan="1">
     <mat-card class="dashboard-card">
       <app-market-trades></app-market-trades>
       </mat-card>
   </mat-grid-tile>
  </mat-grid-list>


  <!-- Card 4 : partie basse : IA et Graphiques -->
  <app-graph-mat-card></app-graph-mat-card>

</div>
