<mat-card-header>
  <div mat-card-avatar class="logo transaction-logo"></div>
  <mat-card-title>
    Transactions
  </mat-card-title>
  <mat-card-subtitle>
    Acheter - Vendre
  </mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <mat-grid-list cols="16" rowHeight="190px" style="top: -50px;">
    <mat-grid-tile colspan="6" class="market-order-container">
      <form>
        <mat-form-field class="market-amount-input">
          <input matInput type="number" placeholder="Volume" [(ngModel)]="volume" required name="volume">
        </mat-form-field> 
        <button mat-button color="primary" (click)="buy()" [disabled]="checkTrade()">Acheter</button> <br>
        <mat-form-field class="market-amount-input">
          <input matInput type="number" placeholder="Prix" [(ngModel)]="price" required name="price">
        </mat-form-field>
        <button mat-button color="accent" (click)="sell()" [disabled]="checkTrade()">Vendre</button>
      </form>
    </mat-grid-tile>

    <mat-grid-tile colspan="10">
      <div class="orders-table">
        <mat-table [dataSource]="orders">
          <ng-container matColumnDef="volumeAsks">
            <mat-header-cell *matHeaderCellDef style="border-right: 1px solid rgba(0, 0, 0, 0.12);"> Volume </mat-header-cell>
            <mat-cell *matCellDef="let element" style="border-right: 1px solid rgba(0, 0, 0, 0.12);"> {{element.ask.volume}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="priceAsks">
            <mat-header-cell *matHeaderCellDef style="border-left: 1px solid rgba(0, 0, 0, 0.12); border-right: 1px solid rgba(0, 0, 0, 0.25);"> Prix </mat-header-cell>
            <mat-cell *matCellDef="let element" style="border-left: 1px solid rgba(0, 0, 0, 0.12); border-right: 1px solid rgba(0, 0, 0, 0.25);"> {{element.ask.price}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="priceBids">
            <mat-header-cell *matHeaderCellDef style="border-left: 1px solid rgba(0, 0, 0, 0.25); border-right: 1px solid rgba(0, 0, 0, 0.12);"> Prix </mat-header-cell>
            <mat-cell *matCellDef="let element" style="border-left: 1px solid rgba(0, 0, 0, 0.25); border-right: 1px solid rgba(0, 0, 0, 0.12);"> {{element.bid.price}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="volumeBids">
            <mat-header-cell *matHeaderCellDef style="border-left: 1px solid rgba(0, 0, 0, 0.12);"> Volume </mat-header-cell>
            <mat-cell *matCellDef="let element" style="border-left: 1px solid rgba(0, 0, 0, 0.12);"> {{element.bid.volume}} </mat-cell>
          </ng-container>

          <div *matHeaderRowDef="['volumeAsks', 'priceAsks', 'priceBids', 'volumeBids']; sticky: true">
            <div class="mat-header-row header-group-row">
              <button mat-mini-fab (click)="refreshOrderBook()" color="primary" class="refresh-orders-button"><mat-icon>refresh</mat-icon></button>
              <div class="mat-header-cell header-group" role="columnheader" style="border-right: 1px solid rgba(0, 0, 0, 0.25); border-bottom: 1px solid rgba(0, 0, 0, 0.20)">Ordres de vente</div>
              <div class="mat-header-cell header-group" role="columnheader" style="border-left: 1px solid rgba(0, 0, 0, 0.25); border-bottom: 1px solid rgba(0, 0, 0, 0.20)">Ordres d'achat</div>
            </div>
            <mat-header-row></mat-header-row>
          </div>
          <mat-row *matRowDef="let row; columns: ['volumeAsks', 'priceAsks', 'priceBids', 'volumeBids'];"></mat-row>
          <!-- [ngClass]="{'mat-button-focus-overlay': row.key == currentBot._id, 'mat-button-ripple': row.key == currentBot._id}" -->
        </mat-table>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card-content>
