.transaction-logo {
  background-image: url('/assets/transaction-logo.png');
}

.orders-table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 150px;
  margin-bottom: 3px;
  width: 100%;
  position: absolute;
  top: -10px;
}

.market-amount-input {
  max-width: 100px;
  min-width: 70px;
  margin-right: 15px;
}

mat-header-row {
  max-height: 45px !important;
  min-height: 30px !important;
}

mat-row {
  max-height: 40px !important;
  min-height: 25px !important;
}

mat-cell{
  display:flex !important;
  justify-content:center !important;
}

mat-header-cell {
  display:flex;
  justify-content:center;
}