<mat-grid-list cols="12" rowHeight="215px">
<!-- carte paramétrage -->
<mat-grid-tile colspan="4" rowspan="3">
    <mat-card class="dashboard-card">
      <mat-card-header>
          <div mat-card-avatar class="logo catia-logo"></div>
        <mat-card-title>
            Bots - IA
        </mat-card-title>
        <mat-card-subtitle>
          Configuration et suggestions de l'IA
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="dashboard-card-content">
        <label>Grain : </label>
        <mat-slider thumbLabel [displayWith]="grainAdapterLabel"
              step="1" min="0" max="8" [(ngModel)]="grain">
        </mat-slider>
        <br>
        <mat-form-field>
          <mat-select [(value)]="currentAsset" placeholder='Pair of currencies'>
            <mat-option *ngFor="let asset of tradableAssets"
              [value]="asset.key">{{asset.key}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-button (click)="createBot()">Obtenir bot</button>

        <br>
        <mat-divider></mat-divider>
        <br>

        <mat-list dense role="list">
          <mat-list-item role="listitem" *ngFor="let bot of bots | iterable">
              <button mat-button (click)="selectBot(bot.key)">
                {{bot.value.currencyPair}} @{{bot.value.intervalle}}
              </button>
              <button mat-icon-button (click)="deleteBot(bot.key)" color="warn"><mat-icon>delete</mat-icon></button>
          </mat-list-item>
        </mat-list>

        <br>
        <mat-divider></mat-divider>
        <br>

        <mat-card>
          <button mat-button (click)="refreshAlert()">Rafraîchir</button>
          <p *ngIf="currentBot._id === -1">
            Aucun bot sélectionné !</p>
          <p *ngIf="currentBot._id >= 0 && (currentBot.lastAlert === null || currentBot.lastAlert === '')">
            Pas encore d'alerte pour le bot sélectionné.</p>
          <p *ngIf="currentBot._id >= 0 && currentBot.lastAlert !== null && currentBot.lastAlert.length > 0">
            {{currentBot.lastAlert.isBullish}} {{currentBot.lastAlert.acceleration}} {{currentBot.lastAlert.date}}</p>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!-- carte graphes -->
  <mat-grid-tile colspan="8" rowspan="3">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <div mat-card-avatar class="logo graph-logo"></div>
        <mat-card-title>
          Evolution du marché
        </mat-card-title>
        <mat-card-subtitle>
          OHLC - MACD
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-donnees-marche></app-donnees-marche>
        <app-indicateur-macd></app-indicateur-macd>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
