<!-- Card 4 : graphiques-->
  <mat-card-header>
    <mat-card-title>
      Graphiques
      <mat-button-toggle
          class="params-button"
          [checked]="showParams" 
          (change)="showParams = $event.source.checked">
        Paramètres
      </mat-button-toggle>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <ng-template [ngIf]="!showParams">
      <app-donnees-marche></app-donnees-marche>
      <app-indicateur-macd></app-indicateur-macd>
    </ng-template>
    <ng-template [ngIf]="showParams">
 
        blablzabfkazbfmlkazbmfzbflmkhzabf
        blablzabfkazbfmlkazbmfzbflmkhzabf
        blablzabfkazbfmlkazbmfzbflmkhzabf
        blablzabfkazbfmlkazbmfzbflmkhzabf
          <!-- <label for="grain">Grain</label> -->
          <!-- <input type="text" class="form-control" id="grain"
                 [(ngModel)]="grain" name="grain" [ngModelOptions]="{standalone: true}"/> -->
        
    </ng-template>
  </mat-card-content>