.graph-logo {
    background-image: url('/assets/graph-logo.png');
  }

.catia-logo {
  background-image: url('/assets/catia-logo.png');
}

.bots-table > table {
  width: 100%;
}

.cerberus {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
}

.cerberus > mat-slider {
  margin-top: 7px;
  margin-right: 10px;
  min-width: 80px;
  width: 100%;
  max-width: 200px;
}

.cerberus > mat-form-field {
  margin-top: 3px;
  margin-right: 5px;
  max-width: 130px;
  min-width: 100px;
}

.cerberus > button {
  margin-top: 9px;
}

.bots-table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 350px;
  margin-bottom: 3px;
}

mat-cell{
  display:flex !important;
  justify-content:center !important;
}

mat-header-row {
  max-height: 45px !important;
  min-height: 30px !important;
}

mat-row {
  max-height: 40px !important;
  min-height: 25px !important;
}

mat-header-cell {
  display:flex;
  justify-content:center;
}